learn-lua/nvim-backup/
learn-lua/kickstart.lua
learn-go-with-tests/mocking/v1/v1
learn-go-with-tests/mocking/v2/mocking
learn-go-with-tests/application/testscenarios.md

learn-go-with-tests/application/1-http-server/*.md
learn-go-with-tests/application/1-http-server/1-http-server

learn-go-with-tests/application/2-json/2-json
learn-go-with-tests/application/2-json/*.md

learn-go-with-tests/application/3-io/3-io
learn-go-with-tests/application/3-io/docs/*.md
learn-go-with-tests/application/3-io/game.db.json

learn-go-with-tests/application/4-command-line/cmd/webserver/webserver
learn-go-with-tests/application/4-command-line/cmd/webserver/game.db.json
learn-go-with-tests/application/4-command-line/docs/*.md
learn-go-with-tests/application/4-command-line/cli
learn-go-with-tests/application/4-command-line/*.json

web-project/material-files

probabilidad-estadistica/env
probabilidad-estadistica/practica-3/practica-3.ipynb
probabilidad-estadistica/practica-3/.ipynb_checkpoints/
probabilidad-estadistica/practica-4/.ipynb_checkpoints/
probabilidad-estadistica/tarea-4/.ipynb_checkpoints/
probabilidad-estadistica/tarea-4/DMAS-Probabilidad-Tarea.pdf
probabilidad-estadistica/tarea-4/tarea-4.ipynb

c-programming/
c-programming/coord/test
c-programming/sznajdleder/
c-programming/enums/

kivy/env

learn-java/mi-proyecto/bin/
learn-java/mi-proyecto/dist/
learn-java/*.class

poo-sznajdlender/

rust/playground/
rust/hello_world/main
rust/hello_cargo/target/
rust/guessing_game/target/
rust/variables/target/
rust/functions/target/

zat/food_lines/food
zat/food_lines/*.txt
zat/snowflakes/oaat.c
zat/snowflakes/oaat
zat/snowflakes/solution1/snow
zat/snowflakes/solution1/*.txt
zat/snowflakes/solution2/snow
zat/snowflakes/solution2/*.txt
